#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.3;
  max-width: 930px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content h2,
#es-rc #es-rc-content h3,
#es-rc #es-rc-content h4,
#es-rc #es-rc-content h5 {
  font-family: "Montserrat", sans-serif;
  color: #000;
}
#es-rc #es-rc-content .es-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 65px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
}
#es-rc #es-rc-content .es-title--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 30px;
}
#es-rc #es-rc-content .es-kv {
  background: #fff url("../images/kv-bg-m.png") no-repeat;
  background-size: contain;
}
#es-rc #es-rc-content .es-kv__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: "Bold", "Montserrat", sans-serif;
  font-weight: inherit;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  padding: 16px;
  padding-left: 0;
  opacity: 0;
  animation: slideright 0.8s ease forwards;
  animation-delay: 0.9s;
  color: #000;
}
#es-rc #es-rc-content .es-kv__img-description-1, #es-rc #es-rc-content .es-kv__img-description-2 {
  display: none;
}
#es-rc #es-rc-content .es-kv__subtitle {
  margin: 0;
  letter-spacing: -1px;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  animation: slideright 0.8s ease forwards;
  animation-delay: 0.9s;
}
#es-rc #es-rc-content .es-kv__disclaimer {
  letter-spacing: -1px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-transform: initial;
  color: #fff;
}
#es-rc #es-rc-content .es-kv__title-group {
  align-self: flex-end;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
#es-rc #es-rc-content .es-kv__container {
  width: 100%;
  position: relative;
}
#es-rc #es-rc-content .es-kv__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-kv__branding {
  padding: 16px;
  padding-top: 60%;
  max-width: 320px;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-kv__packshot {
  padding: 16px;
  opacity: 0;
  animation: appear 0.8s ease forwards;
  animation-delay: 0.9s;
}
#es-rc #es-rc-content .es-kv__logo {
  max-width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
  opacity: 0;
  animation: slidedown 0.8s ease forwards;
}
#es-rc #es-rc-content .es-kv__brand-item {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 9px;
}
#es-rc #es-rc-content .es-kv__brand-item-title {
  display: block;
  margin: 5px auto;
  padding: 2px 5px;
  max-width: 385px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
#es-rc #es-rc-content .es-kv__brand-item-description {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
}
#es-rc #es-rc-content .es-kv__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  color: #5f4e9b;
  font-size: 20px;
  letter-spacing: -2px;
  opacity: 0;
  animation: slidedown 0.8s ease forwards;
  animation-delay: 0.6s;
}
#es-rc #es-rc-content .es-kv__text span {
  color: #e61357;
  font-weight: 700;
  font-size: 0.8em;
}
#es-rc #es-rc-content .es-hair {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fef8fd url(../images/hair.png) no-repeat center;
  background-size: cover;
  padding: 5px;
  margin-bottom: 15px;
  position: relative;
  min-height: 300px;
  gap: 200px;
}
#es-rc #es-rc-content .es-hair__title {
  bottom: 0;
  right: 3%;
  max-width: 250px;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-hair__title--normal {
  font-weight: 400;
}
#es-rc #es-rc-content .es-routine {
  background: url(../images/routine-bg.png) no-repeat center left;
  background-size: cover;
  padding: 32px;
  margin-bottom: 15px;
  position: relative;
  min-height: 400px;
}
#es-rc #es-rc-content .es-routine__text-group {
  position: absolute;
  top: 10%;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#es-rc #es-rc-content .es-routine__title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
}
#es-rc #es-rc-content .es-routine__title--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-routine__title sup {
  font-size: 14px;
}
#es-rc #es-rc-content .es-routine__title--normal {
  font-weight: 400;
}
#es-rc #es-rc-content .es-routine__subtitle {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  color: #1d1d1b;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-routine__subtitle--last {
  text-transform: none;
}
#es-rc #es-rc-content .es-routine__subtitle--uppercase {
  display: block;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-routine__subtitle--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-info {
  margin-bottom: 64px;
  padding-top: 10px;
}
#es-rc #es-rc-content .es-info__title {
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 0 16px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
#es-rc #es-rc-content .es-info__subtitle {
  margin: 0;
  padding: 0;
  max-width: 400px;
  margin: 0 auto;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 0 16px;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}
#es-rc #es-rc-content .es-info__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-info__items {
  display: flex;
  flex-wrap: wrap;
}
#es-rc #es-rc-content .es-info__item {
  margin-bottom: 16px;
}
#es-rc #es-rc-content .es-info__bg {
  transition: transform 0.6s;
}
#es-rc #es-rc-content .es-info__content {
  padding: 16px;
  max-width: 632px;
  margin: 0 auto;
  background: #fff;
}
#es-rc #es-rc-content .es-info__label {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 4px 25px;
  margin-right: 10px;
  background: #d8017a;
  color: #fff;
}
#es-rc #es-rc-content .es-info__name {
  margin: 0 auto;
  padding: 0;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 32px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-info__text {
  max-width: 300px;
  margin: 0 auto;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  text-align: center;
}
#es-rc #es-rc-content .es-info__text--disc {
  font-size: 13px;
}
#es-rc #es-rc-content .es-info__item {
  margin-bottom: 5px;
}
#es-rc #es-rc-content .es-info__line {
  display: none;
}
#es-rc #es-rc-content .es-info__disclaimer {
  display: inline-block;
  margin-top: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-info__item {
  max-width: 305px;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-info-2 {
  margin-bottom: 64px;
}
#es-rc #es-rc-content .es-info-2__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 0 16px;
  font-weight: 400;
  margin-bottom: 80px;
  text-align: center;
}
#es-rc #es-rc-content .es-info-2__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-info-2__container {
  margin-bottom: 16px;
}
#es-rc #es-rc-content .es-info-2__bg {
  transition: transform 0.6s;
}
#es-rc #es-rc-content .es-info-2__content {
  padding: 16px;
  max-width: 632px;
  margin: 0 auto;
  background: #F9F2F7;
}
#es-rc #es-rc-content .es-info-2__name {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 32px;
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-info-2__name--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-info-2__desc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  margin-bottom: 24px;
  position: relative;
  padding-left: 50px;
}
#es-rc #es-rc-content .es-info-2__desc::before {
  content: "";
  background-image: url("../images/check.png");
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0%, -50%);
}
#es-rc #es-rc-content .es-info-2__desc--second {
  padding-left: 0;
  max-width: 360px;
}
#es-rc #es-rc-content .es-info-2__desc--second::before {
  display: none;
}
#es-rc #es-rc-content .es-info-2__desc--under {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
#es-rc #es-rc-content .es-info-2__desc--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-info-2__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 13px;
}
#es-rc #es-rc-content .es-info-2__text--disc {
  font-size: 13px;
}
#es-rc #es-rc-content .es-info-2__line {
  display: none;
}
#es-rc #es-rc-content .es-info-2__disclaimer {
  display: inline-block;
  margin-top: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-colors {
  padding-bottom: 25px;
}
#es-rc #es-rc-content .es-colors__first-left-title, #es-rc #es-rc-content .es-colors__first-right-title, #es-rc #es-rc-content .es-colors__second-left-title, #es-rc #es-rc-content .es-colors__second-second-title, #es-rc #es-rc-content .es-colors__second-right-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
#es-rc #es-rc-content .es-colors__first-left-subtitle-1, #es-rc #es-rc-content .es-colors__first-left-subtitle-2, #es-rc #es-rc-content .es-colors__first-left-subtitle-3, #es-rc #es-rc-content .es-colors__first-right-subtitle-1, #es-rc #es-rc-content .es-colors__first-right-subtitle-2, #es-rc #es-rc-content .es-colors__first-right-subtitle-3, #es-rc #es-rc-content .es-colors__second-left-subtitle-1, #es-rc #es-rc-content .es-colors__second-second-subtitle-1, #es-rc #es-rc-content .es-colors__second-right-subtitle-1, #es-rc #es-rc-content .es-colors__second-right-subtitle-2 {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
#es-rc #es-rc-content .es-colors__second-right-subtitle-1, #es-rc #es-rc-content .es-colors__second-right-subtitle-2 {
  position: absolute;
}
#es-rc #es-rc-content .es-colors__second-right-subtitle-1 {
  bottom: -8%;
  left: 26%;
}
#es-rc #es-rc-content .es-colors__second-right-subtitle-2 {
  bottom: -8%;
  right: 5%;
}
#es-rc #es-rc-content .es-colors__first-left-image, #es-rc #es-rc-content .es-colors__first-right-image, #es-rc #es-rc-content .es-colors__second-left-image, #es-rc #es-rc-content .es-colors__second-second-image, #es-rc #es-rc-content .es-colors__second-right-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-colors__first {
  margin-bottom: 50px;
}
#es-rc #es-rc-content .es-colors__first, #es-rc #es-rc-content .es-colors__second {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 10px;
  position: relative;
}
#es-rc #es-rc-content .es-colors__first-left-subtitle-1, #es-rc #es-rc-content .es-colors__first-left-subtitle-2, #es-rc #es-rc-content .es-colors__first-left-subtitle-3 {
  position: absolute;
  bottom: 0;
}
#es-rc #es-rc-content .es-colors__first-left-subtitle-1 {
  left: 9%;
  bottom: -8%;
}
#es-rc #es-rc-content .es-colors__first-left-subtitle-2 {
  left: 49%;
  bottom: -8%;
}
#es-rc #es-rc-content .es-colors__first-left-subtitle-3 {
  right: 3%;
  bottom: -8%;
}
#es-rc #es-rc-content .es-colors__first-right-subtitle-1, #es-rc #es-rc-content .es-colors__first-right-subtitle-2, #es-rc #es-rc-content .es-colors__first-right-subtitle-3 {
  position: absolute;
  bottom: 0;
}
#es-rc #es-rc-content .es-colors__first-right-subtitle-1 {
  left: -1%;
  bottom: -8%;
}
#es-rc #es-rc-content .es-colors__first-right-subtitle-2 {
  left: 23%;
  bottom: -8%;
}
#es-rc #es-rc-content .es-colors__first-right-subtitle-3 {
  right: 20%;
  bottom: -8%;
}
#es-rc #es-rc-content .es-colors__second-left-subtitle-1, #es-rc #es-rc-content .es-colors__second-second-subtitle-1, #es-rc #es-rc-content .es-colors__second-left-subtitle-1 {
  position: absolute;
  bottom: 0;
}
#es-rc #es-rc-content .es-colors__second-left-subtitle-1 {
  bottom: -8%;
  left: 45%;
}
#es-rc #es-rc-content .es-colors__second-second-subtitle-1 {
  bottom: -8%;
  left: 45%;
}
#es-rc #es-rc-content .es-colors__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: relative;
}
#es-rc #es-rc-content .es-cross {
  padding-top: 50px;
}
#es-rc #es-rc-content .es-cross__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__title strong {
  font-weight: 500;
  color: #d4025d;
}
#es-rc #es-rc-content .es-cross__products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-cross__product {
  width: 225px;
  margin-bottom: 32px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#es-rc #es-rc-content .es-cross__img {
  min-height: 315px;
}
#es-rc #es-rc-content .es-cross__product:hover .es-cross__link::before {
  transform: scaleX(1);
}
#es-rc #es-rc-content .es-cross__background {
  padding: 25px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 260px;
  background-color: #F9F2F7;
}
#es-rc #es-rc-content .es-cross__background--1 {
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: unset;
  background-color: #F9F2F7;
  margin-bottom: 2px;
}
#es-rc #es-rc-content .es-cross__packshot {
  transition: transform 0.3s;
  position: relative;
}
#es-rc #es-rc-content .es-cross__packshot-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-bottom: 8px;
}
#es-rc #es-rc-content .es-cross__packshot-description {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__packshot-link {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d8017a;
  color: #fff;
  padding: 11px;
  width: 85%;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}
#es-rc #es-rc-content .es-cross__text {
  min-height: 33px;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__desc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 8px;
  font-size: 16px;
}
#es-rc #es-rc-content .es-cross__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  position: relative;
  display: inline-block;
  padding: 12px 64px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 8px;
  font-size: 12px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  background: #d8017a;
  z-index: 1;
  font-weight: 800;
}
#es-rc #es-rc-content .es-cross__link::before {
  content: "";
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
#es-rc #es-rc-content .es-cross__img {
  max-width: 76%;
  max-height: 260px;
  min-height: unset;
  display: block;
  margin: 0 auto;
  margin-bottom: 45px;
  transition: all 0.3s ease-in-out;
}
#es-rc #es-rc-content .es-cross__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 250px;
  margin-bottom: 30px;
}
#es-rc #es-rc-content .es-disclaimer {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 9px;
  text-align: center;
}
#es-rc #es-rc-content .es-footer__img {
  max-width: 20%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-footer__container {
  padding: 32px;
  border-top: 3px solid #d9d9d9;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 32px;
}
#es-rc #es-rc-content .es-footer__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 200;
}
@media screen and (min-width: 500px) {
  #es-rc #es-rc-content .es-kv__branding {
    padding-top: 50%;
    max-width: 180px;
  }
  #es-rc #es-rc-content .es-formula {
    min-height: 350px;
    background: url(../images/formula.png) no-repeat 50% 66%;
    background-size: cover;
    min-height: 442px;
  }
  #es-rc #es-rc-content .es-formula__subtitle {
    font-size: 25px;
    left: 5%;
  }
  #es-rc #es-rc-content .es-hair {
    background-size: contain;
    min-height: 380px;
  }
  #es-rc #es-rc-content .es-hair__title {
    max-width: 350px;
    font-size: 20px;
  }
}
@media screen and (min-width: 560px) {
  #es-rc #es-rc-content .es-routine {
    background: url(../images/routine-bg.png) no-repeat center;
    min-height: 500px;
    background-size: cover;
  }
}
@media screen and (min-width: 620px) {
  #es-rc #es-rc-content .es-hair {
    position: relative;
  }
  #es-rc #es-rc-content .es-hair__title {
    max-width: 300px;
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-hair__title--second {
    text-align: right;
  }
  #es-rc #es-rc-content .es-hair__left {
    position: absolute;
    left: 3%;
    top: 3%;
  }
  #es-rc #es-rc-content .es-hair__description {
    display: block;
    max-width: 280px;
    font-size: 14px;
  }
  #es-rc #es-rc-content .es-hair__description--right {
    text-align: right;
  }
  #es-rc #es-rc-content .es-hair__right {
    position: absolute;
    right: 3%;
    bottom: 3%;
  }
  #es-rc #es-rc-content .es-colors__first, #es-rc #es-rc-content .es-colors__second {
    flex-direction: row;
    align-items: start;
  }
}
@media screen and (min-width: 760px) {
  #es-rc #es-rc-content .es-kv {
    min-height: 434px;
    display: flex;
    position: relative;
  }
  #es-rc #es-rc-content .es-kv__container {
    position: relative;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
  #es-rc #es-rc-content .es-kv__wrapper {
    background-size: cover;
  }
  #es-rc #es-rc-content .es-kv__text {
    font-size: 15px;
    margin-top: -30px;
    margin-left: 25px;
    text-align: center;
  }
  #es-rc #es-rc-content .es-kv__title-group {
    padding-left: 60px;
    text-align: left;
    padding-right: 0;
    position: relative;
    bottom: 8%;
  }
  #es-rc #es-rc-content .es-kv__title {
    background: none;
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 1;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    position: absolute;
    bottom: -16px;
    right: 7%;
    align-self: flex-end;
  }
  #es-rc #es-rc-content .es-kv__branding {
    position: absolute;
    right: 5%;
    top: 4%;
    padding: 0;
    z-index: 1;
  }
  #es-rc #es-rc-content .es-info {
    position: relative;
    margin: 0 auto;
  }
  #es-rc #es-rc-content .es-info__item {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  #es-rc #es-rc-content .es-info__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  #es-rc #es-rc-content .es-info__img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  #es-rc #es-rc-content .es-info__title {
    font-weight: 500;
    font-size: 26px;
  }
  #es-rc #es-rc-content .es-info__name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  #es-rc #es-rc-content .es-info-2 {
    position: relative;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  #es-rc #es-rc-content .es-info-2__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    margin-bottom: 0px;
  }
  #es-rc #es-rc-content .es-info-2__container:nth-child(even) {
    flex-flow: row-reverse;
  }
  #es-rc #es-rc-content .es-info-2__content {
    padding-top: 90px;
    padding-left: 40px;
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  #es-rc #es-rc-content .es-info-2__bg {
    flex: 1;
  }
  #es-rc #es-rc-content .es-info-2__img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
  }
  #es-rc #es-rc-content .es-info-2__title {
    font-size: 30px;
  }
  #es-rc #es-rc-content .es-info-2__name {
    margin-bottom: 35x;
    font-size: 28px;
  }
  #es-rc #es-rc-content .es-cross__title {
    font-size: 26px;
  }
  #es-rc #es-rc-content .es-cross__products {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 600px;
  }
  #es-rc #es-rc-content .es-routine__text-group {
    top: 15%;
    left: 5%;
  }
  #es-rc #es-rc-content .es-routine__title {
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 300px;
    font-size: 27px;
  }
  #es-rc #es-rc-content .es-routine__subtitle {
    font-size: 18px;
  }
  #es-rc #es-rc-content .es-footer__container {
    flex-flow: row;
    justify-content: center;
  }
  #es-rc #es-rc-content .es-footer__logo {
    flex: 2;
  }
  #es-rc #es-rc-content .es-footer__nr {
    flex: 1;
  }
  #es-rc #es-rc-content .es-footer__texts {
    flex: 2;
  }
}
@media screen and (min-width: 900px) {
  #es-rc #es-rc-content .es-kv__img-description-1 {
    position: absolute;
    display: block;
    top: 26%;
    left: 32%;
    font-size: 14px;
    font-family: "Bold";
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  #es-rc #es-rc-content .es-kv__img-description-1::after {
    content: "";
    width: 1px;
    height: 25px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background: #d8017a;
  }
  #es-rc #es-rc-content .es-kv__img-description-2 {
    position: absolute;
    display: block;
    top: 5%;
    left: 50%;
    font-size: 14px;
    font-family: "Bold";
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  #es-rc #es-rc-content .es-kv__img-description-2::after {
    content: "";
    width: 2px;
    height: 25px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background: #d8017a;
  }
  #es-rc #es-rc-content .es-info {
    position: relative;
    padding-bottom: 50px;
  }
  #es-rc #es-rc-content .es-routine {
    background: url(../images/routine-bg.png) no-repeat center;
    min-height: 440px;
    background-size: contain;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #es-rc #es-rc-content .es-hair__title {
    max-width: 450px;
    font-size: 18px;
    line-height: 1.1;
  }
  #es-rc #es-rc-content .es-metamorphosis__title {
    margin-bottom: 0;
    font-size: 30px;
    bottom: 5%;
    right: 5%;
  }
  #es-rc #es-rc-content .es-metamorphosis__disclaimer {
    right: 5%;
  }
  #es-rc #es-rc-content .es-cross {
    position: relative;
  }
  #es-rc #es-rc-content .es-cross__subtitle {
    max-width: 650px;
    margin-bottom: 40px;
  }
  #es-rc #es-rc-content .es-cross__subtitle::before {
    left: -8px;
  }
  #es-rc #es-rc-content .es-cross__subtitle::after {
    right: -8px;
  }
  #es-rc #es-rc-content .es-cross__products {
    margin-bottom: 50px;
    max-width: none;
    position: relative;
    z-index: 1;
    gap: 2px;
  }
  #es-rc #es-rc-content .es-cross__background {
    min-height: 220px;
  }
}
@media screen and (min-width: 1300px) {
  #es-rc #es-rc-content .es-kv__imgPackshot {
    width: 270px;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    bottom: -8px;
    right: 6%;
  }
  #es-rc #es-rc-content .es-colors__first-left-subtitle-1, #es-rc #es-rc-content .es-colors__first-left-subtitle-2, #es-rc #es-rc-content .es-colors__first-left-subtitle-3, #es-rc #es-rc-content .es-colors__first-right-subtitle-1, #es-rc #es-rc-content .es-colors__first-right-subtitle-2, #es-rc #es-rc-content .es-colors__first-right-subtitle-3, #es-rc #es-rc-content .es-colors__second-left-subtitle-1, #es-rc #es-rc-content .es-colors__second-second-subtitle-1, #es-rc #es-rc-content .es-colors__second-right-subtitle-1, #es-rc #es-rc-content .es-colors__second-right-subtitle-2 {
    font-size: 10px;
  }
  #es-rc #es-rc-content .es-colors__first-left-subtitle-1 {
    left: 15%;
    bottom: -8%;
  }
  #es-rc #es-rc-content .es-colors__first-left-subtitle-2 {
    left: 54%;
    bottom: -8%;
  }
  #es-rc #es-rc-content .es-colors__first-left-subtitle-3 {
    right: 4%;
    bottom: -8%;
  }
  #es-rc #es-rc-content .es-colors__first-right-subtitle-1 {
    left: 3%;
    bottom: -8%;
  }
  #es-rc #es-rc-content .es-colors__first-right-subtitle-2 {
    left: 27%;
    bottom: -8%;
  }
  #es-rc #es-rc-content .es-colors__first-right-subtitle-3 {
    right: 20%;
    bottom: -8%;
  }
  #es-rc #es-rc-content .es-colors__second-right-subtitle-2 {
    bottom: -8%;
    right: 2%;
  }
  #es-rc #es-rc-content .es-colors__second {
    -moz-column-gap: 150px;
    column-gap: 150px;
  }
}

@media screen and (min-width: 760px) {
  .es-kv {
    background-size: 100%;
  }
  .es-kv__title {
    font-size: 36px;
    min-width: 508px;
    letter-spacing: -5px;
    margin-bottom: 50px;
  }
  .es-kv__imgPackshot {
    width: 262px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 760px) and (min-width: 768px) {
  .es-kv__packshot {
    margin-left: -390px;
    margin-top: -162px;
    padding: 0;
  }
}
@media screen and (min-width: 760px) {
  .es-cross__link {
    padding: 12px 48px;
    overflow: hidden;
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  10% {
    transform: rotate(30deg) translate(-50%, -50%);
  }
  35% {
    transform: rotate(-50deg) translate(-50%, -50%);
  }
  70% {
    transform: rotate(90deg) translate(-50%, -50%);
  }
  85% {
    transform: rotate(30deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
}/*# sourceMappingURL=style.css.map */