html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

$regular: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
$bold: 'Gotham-Bold', sans-serif;
$pink: #d4025d;
$gray: #F9F2F7;
$black: #1d1d1b;

#es-loreal.es-loreal {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.3;
  max-width: 930px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
  }

  .es-title {
    @include text;
    margin-bottom: 65px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
    text-align: center;

    &--bold {
      font-weight: 700;
    }
  }

  .es-subtitle {
    @include text;
    text-align: center;
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 30px;

    // &::before {
    //   position: absolute;
    //   content: '';
    //   width: 61px;
    //   height: 1px;
    //   left: -8px;
    //   top: 7px;
    //   border-top: 1px solid black;
    // }

    // &::after {
    //   position: absolute;
    //   content: '';
    //   width: 61px;
    //   height: 1px;
    //   right: -8px;
    //   top: 7px;
    //   border-top: 1px solid black;
    // }
  }

  .es-kv {
    background: #fff url('../images/kv-bg-m.png') no-repeat;
    background-size: contain;

    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: 'Bold', 'Montserrat', sans-serif;
      font-weight: inherit;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
      padding: 16px;
      padding-left: 0;
      opacity: 0;
      -webkit-animation: slideright 0.8s ease forwards;
      animation: slideright 0.8s ease forwards;
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      color: #000;
    }

    &__img-description-1,
    &__img-description-2 {
      display: none;
    }

    &__subtitle {
      letter-spacing: -1px;
      font-size: 14px;
      color: #000;
      font-weight: 700;
    }

    &__disclaimer {
      letter-spacing: -1px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 10px;
      text-transform: initial;
      color: #fff;
    }

    &__title-group {
      align-self: flex-end;
      padding: 0;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }

    &__container {
      width: 100%;
      position: relative;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    &__branding {
      padding: 16px;
      padding-top: 60%;
      max-width: 320px;
      margin: 0 auto;
    }

    &__packshot {
      padding: 16px;
      opacity: 0;
      -webkit-animation: appear 0.8s ease forwards;
      animation: appear 0.8s ease forwards;
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
    }

    &__wrapper {
      // background-size: cover;
      // min-height: 470px;
      // width: 100%;
    }

    &__logo {
      margin-bottom: 20px;
      opacity: 0;
      -webkit-animation: slidedown 0.8s ease forwards;
      animation: slidedown 0.8s ease forwards;
    }

    &__brand-item {
      display: block;
      text-transform: uppercase;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 0px;
      font-weight: 600;
      font-size: 9px;
    }

    &__brand-item-title {
      display: block;
      margin: 5px auto;
      padding: 2px 5px;
      max-width: 385px;
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      color: #fff;
    }

    &__brand-item-description {
      display: block;
      text-transform: uppercase;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 12px;
    }

    &__text {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-transform: uppercase;
      color: #5f4e9b;
      font-size: 20px;
      letter-spacing: -2px;
      opacity: 0;
      -webkit-animation: slidedown 0.8s ease forwards;
      animation: slidedown 0.8s ease forwards;
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }

    &__text span {
      color: #e61357;
      font-weight: 700;
      font-size: 0.8em;
    }
  }

  .es-hair {
    background: url(../images/hair.png) no-repeat center;
    background-size: cover;
    padding: 32px;
    margin-bottom: 15px;
    position: relative;
    min-height: 200px;

    &__title {
      position: absolute;
      bottom: 0;
      right: 3%;
      max-width: 250px;
      font-size: 14px;
      text-align: right;

      &--normal {
        font-weight: 400;
      }
    }
  }

  .es-routine {
    background: url(../images/routine-bg.png) no-repeat center;
    background-size: cover;
    padding: 32px;
    margin-bottom: 15px;
    position: relative;
    min-height: 400px;

    &__text-group {
      position: absolute;
      top: 10%;
      left: 3%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &__title {
      font-weight: 400;
      text-transform: uppercase;

      font-size: 18px;
      text-align: left;

      &--bold {
        font-weight: 700;
      }

      & sup {
        font-size: 14px;
      }

      &--normal {
        font-weight: 400;
      }
    }

    &__subtitle {
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 18px;
      color: #1d1d1b;
    }
  }

  .es-info {
    margin-bottom: 64px;
    padding-top: 50px;

    &__title {
      // margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      padding: 0 16px;
      font-weight: 400;
      // margin-bottom: 12px;
      font-size: 24px;
      text-align: center;
    }

    &__subtitle {
      margin: 0;
      padding: 0;
      max-width: 400px;
      margin: 0 auto;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      padding: 0 16px;
      font-weight: 400;
      margin-bottom: 60px;
      text-align: center;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      margin-bottom: 16px;
    }

    &__bg {
      transition: transform 0.6s;
    }

    &__content {
      padding: 16px;
      max-width: 632px;
      margin: 0 auto;
      background: #fff;
    }

    &__label {
      @include text;
      padding: 4px 25px;
      margin-right: 10px;
      background: $pink;
      color: #fff;
    }

    &__name {
      margin: 0 auto;
      padding: 0;
      line-height: inherit;
      font-family: inherit;
      font-weight: inherit;
      margin-bottom: 32px;
      font-size: 21px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }

    &__text {
      max-width: 300px;
      margin: 0 auto;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: 18px;
      text-align: center;

      &--disc {
        font-size: 13px;
      }
    }

    &__item {
      margin-bottom: 5px;
    }

    &__line {
      display: none;
    }

    &__disclaimer {
      display: inline-block;
      margin-top: 10px;
      font-size: 10px;
      text-transform: uppercase;
    }

    &__item {
      // padding-top: 15px;
      max-width: 305px;
      margin: 0 auto;
    }
  }

  .es-info-2 {
    margin-bottom: 64px;

    &__subtitle {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      padding: 0 16px;
      font-weight: 400;
      margin-bottom: 80px;
      text-align: center;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    &__container {
      margin-bottom: 16px;
    }

    &__bg {
      transition: transform 0.6s;
    }

    &__content {
      padding: 16px;
      max-width: 632px;
      margin: 0 auto;
      background: $gray;
    }

    &__name {
      margin: 0;
      padding: 0;
      line-height: inherit;
      font-family: inherit;
      font-weight: inherit;
      margin-bottom: 32px;
      font-size: 21px;
      font-weight: 700;
    }

    &__desc {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: 14px;
      margin-bottom: 24px;

      &--under {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
      }
    }

    &__text {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: 13px;

      &--disc {
        font-size: 13px;
      }
    }

    &__line {
      display: none;
    }

    &__disclaimer {
      display: inline-block;
      margin-top: 10px;
      font-size: 10px;
      text-transform: uppercase;
    }
  }

  .es-colors {

    &__first-left-title,
    &__first-right-title,
    &__second-left-title,
    &__second-second-title,
    &__second-right-title {
      @include text;
      font-weight: 700;
      font-size: 25px;
      text-transform: uppercase;
      text-align: center;
    }

    &__first-left-subtitle-1,
    &__first-left-subtitle-2,
    &__first-left-subtitle-3,
    &__first-right-subtitle-1,
    &__first-right-subtitle-2,
    &__first-right-subtitle-3,
    &__second-left-subtitle-1,
    &__second-second-subtitle-1,
    &__second-right-subtitle-1 {
      @include text;
      font-weight: 300;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
    }



  }

  .es-cross {
    padding-bottom: 64px;
    padding-top: 50px;

    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;
      text-align: center;

      & strong {
        font-weight: 500;
        color: #d4025d;
      }
    }

    &__products {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: flex-end;
      justify-content: center;
      max-width: 450px;
      margin: 0 auto;
    }

    &__product {
      width: 264px;
      margin-bottom: 32px;
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    &__product:hover .es-cross__link::before {
      transform: scaleX(1);
    }

    &__product:hover .es-cross__packshot {
      transform: translateY(-8px);
    }

    &__packshot {
      transition: transform 0.3s;
    }

    &__text {
      min-height: 33px;
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: 14px;
      font-weight: 800;
      margin-bottom: 24px;
      text-align: center;
    }

    &__desc {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      margin-bottom: 8px;
      font-size: 16px;
    }

    &__link {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      position: relative;
      display: inline-block;
      padding: 12px 64px;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      border-radius: 8px;
      font-size: 12px;
      text-align: center;
      transition: all 0.5s ease-in-out;
      background: $pink;
      z-index: 1;
      font-weight: 800;
    }

    &__link::before {
      content: '';
      position: absolute;
      border-radius: 8px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background-color: #000;
      transition: transform 0.5s ease-in-out;
      transform: scaleX(0);
      transform-origin: left;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      transition: all 0.3s ease-in-out;
    }

    &__image {
      @include img;
      max-width: 250px;
      margin-bottom: 30px;
    }
  }

  .es-disclaimer {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
  }

  .es-footer {
    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    &__container {
      padding: 32px;
      background: #f9f7f7;
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 32px;
    }

    &__text {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 200;
    }
  }

  @media screen and (min-width: 500px) {
    .es-kv {
      &__branding {
        padding-top: 60%;
      }
    }

    .es-formula {
      min-height: 350px;
      background: url(../images/formula.png) no-repeat 50% 66%;
      background-size: cover;
      min-height: 442px;

      &__subtitle {
        font-size: 25px;
        left: 5%;
      }
    }

    .es-hair {
      background-size: contain;
      min-height: 533px;

      &__title {
        max-width: 350px;
        font-size: 25px;
      }
    }
  }

  @media screen and (min-width: 560px) {}

  @media screen and (min-width: 620px) {
    .es-cross {
      &__product {
        width: 175px;
      }
    }

    .es-hair {
      position: relative;

      &__title {
        max-width: 300px;
        font-size: 20px;
      }
    }

  }

  @media screen and (min-width: 760px) {
    .es-kv {
      min-height: 534px;
      display: flex;
      position: relative;
      // background-color: unset;
      // background-size: cover;

      &__container {
        position: relative;
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
      }

      &__wrapper {
        background-size: cover;
      }

      &__text {
        font-size: 15px;
        margin-top: -30px;
        margin-left: 25px;
        text-align: center;
      }

      &__title-group {
        padding-left: 15px;
        text-align: left;
        padding-right: 0;
      }

      &__title {
        background: none;
        font-size: 30px;
        letter-spacing: -1px;
        line-height: 1;
        // color: #fff;
      }

      &__subtitle {
        // color: #fff;
      }

      &__packshot {
        position: absolute;
        bottom: -16px;
        right: 7%;
        align-self: flex-end;
      }

      &__branding {
        position: absolute;
        right: 5%;
        top: 4%;
        padding: 0;
        z-index: 1;
        width: 350px;
      }
    }

    .es-info {
      position: relative;
      margin: 0 auto;
      // margin-bottom: 60px;

      &__item {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0px;
      }

      &__content {
        display: flex;
        flex-flow: column;
        justify-content: center;
      }

      &__img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        // height: 290px;
      }

      &__title {
        font-weight: 500;
        font-size: 26px;
      }

      &__name {
        font-size: 18px;
        // min-height: 35px;
        margin-bottom: 5px;
      }
    }

    .es-info-2 {
      position: relative;
      margin: 0 auto;
      margin-bottom: 60px;

      &__container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-flow: row;
        margin-bottom: 0px;
      }

      &__container:nth-child(even) {
        flex-flow: row-reverse;
      }

      &__content {
        padding: 28px;
        flex: 1;
        max-width: 50%;
        display: flex;
        flex-flow: column;
        justify-content: center;
      }

      &__bg {
        flex: 1;
      }

      &__img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        -o-object-fit: cover;
        object-fit: cover;
        height: 100%;
      }

      &__title {
        font-size: 30px;
      }

      &__name {
        margin-bottom: 20px;
        font-size: 21px;
      }
    }

    .es-cross {
      &__title {
        font-size: 26px;
      }

      &__products {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 600px;
      }
    }

    .es-footer {
      &__container {
        flex-flow: row;
        justify-content: center;
      }

      &__logo {
        flex: 2;
      }

      &__nr {
        flex: 1;
      }

      &__texts {
        flex: 2;
      }
    }
  }

  @media screen and (min-width: 900px) {
    .es-kv {
      &__img-description-1 {
        position: absolute;
        display: block;
        top: 26%;
        left: 32%;
        font-size: 14px;
        font-family: 'Bold';
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;

        & span {
          // color: $pink;
        }

        &::after {
          content: '';
          width: 1px;
          height: 25px;
          position: absolute;
          top: 35px;
          left: 50%;
          transform: translateX(-50%);
          background: $pink;
        }
      }

      &__img-description-2 {
        position: absolute;
        display: block;
        top: 5%;
        left: 50%;
        font-size: 14px;
        font-family: 'Bold';
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;

        & span {
          // color: $pink;
        }

        &::after {
          content: '';
          width: 2px;
          height: 25px;
          position: absolute;
          top: 35px;
          left: 50%;
          transform: translateX(-50%);
          background: $pink;
        }
      }
    }

    .es-info {
      position: relative;

      &__bg {
        // padding-top: 3px;
        // padding-bottom: 15px;
        // padding-left: 5px;
        // padding-right: 5px;
        // background-color: #f5f5f5;
      }
    }

    .es-hair {
      &__title {
        max-width: 450px;
        font-size: 30px;
        line-height: 1.1;
      }
    }

    .es-metamorphosis {
      &__title {
        margin-bottom: 0;
        font-size: 30px;
        bottom: 5%;
        right: 5%;
      }

      &__disclaimer {
        right: 5%;
      }
    }

    .es-cross {
      position: relative;
      background: linear-gradient(to bottom, white 64%, #f5f5f5 100%);

      &__subtitle {
        max-width: 650px;
        margin-bottom: 40px;

        &::before {
          left: -8px;
        }

        &::after {
          right: -8px;
        }
      }

      &__products {
        margin-bottom: 50px;
        max-width: none;
        position: relative;
        z-index: 1;
      }
    }
  }

  @media screen and (min-width: 1300px) {
    .es-kv {
      // background-position: -70px;

      &__imgPackshot {
        width: 270px;
      }

      &__packshot {
        bottom: -8px;
        right: 6%;
      }
    }
  }

  .es-routine {
    &__text-group {
      top: 15%;
      left: 5%;
    }

    &__title {
      font-size: 32px;
      margin-bottom: 0;
    }

    &__subtitle {
      font-size: 22px;
    }
  }
}

@media screen and (min-width: 760px) {
  .es-kv {
    background-size: 100%;

    &__title {
      font-size: 36px;
      min-width: 508px;
      letter-spacing: -5px;
      margin-bottom: 50px;
    }

    &__imgPackshot {
      width: 262px;
      margin-right: 100px;
    }
  }

  @media screen and (min-width: 768px) {
    .es-kv {
      &__packshot {
        margin-left: -390px;
        margin-top: -162px;
        padding: 0;
      }
    }
  }

  .es-cross__link {
    padding: 12px 48px;
    overflow: hidden;
  }
}

@-webkit-keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  10% {
    transform: rotate(30deg) translate(-50%, -50%);
  }

  35% {
    transform: rotate(-50deg) translate(-50%, -50%);
  }

  70% {
    transform: rotate(90deg) translate(-50%, -50%);
  }

  85% {
    transform: rotate(30deg) translate(-50%, -50%);
  }

  100% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  10% {
    transform: rotate(30deg) translate(-50%, -50%);
  }

  35% {
    transform: rotate(-50deg) translate(-50%, -50%);
  }

  70% {
    transform: rotate(90deg) translate(-50%, -50%);
  }

  85% {
    transform: rotate(30deg) translate(-50%, -50%);
  }

  100% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
}